<p-messages></p-messages>

<p-card header="Find Alticci Sequence Number" [style]="{'width': 'auto', 'margin-bottom': '2em'}">
    <span class="p-input-icon-right">
        <input type="number" class="input-number" min="0" max="2526" pInputText placeholder="Insert a number from 0 to 2526" [(ngModel)]="inputNumber" />
    </span>
    <button pButton pRipple label="Find" icon="pi pi-check" class="submit-button" type="submit" (click)="calcularNumeroAlticciSequence()"></button>
    <div class="result" *ngIf="isDataLoaded">
      <span>Result: {{resultAlticciSequence.result}}</span>
      <br>
      <span>{{resultAlticciSequence.processingTime}}</span>
    </div>
</p-card>

<p-card [style]="{'width': 'auto', 'margin-bottom': '2em'}">
  <button pButton pRipple label="Show cache" icon="pi pi-eye" class="submit-button" type="submit" (click)="searchSequenceCache()"></button>
  <div class="cache" *ngIf="isCacheLoaded">
    <textarea rows="10" cols="100" pInputTextarea [(ngModel)]="cacheList" readonly></textarea>
  </div>
</p-card>




